---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
--- 

$color_scheme: '{{ site.color_scheme }}';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

.project-figure {
  max-width: 650px;
  margin: 2rem auto;
  text-align: center;
}

.project-figure img {
  width: 100%;
  height: auto;
}

.project-figure figcaption {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.gallery-item p {
  white-space: normal;       /* allow wrapping */
  overflow: visible;
  text-overflow: unset;
  text-align: center;
  line-height: 0.9;
  margin: 12px auto 0;
  max-width: 260px;          /* adjust until it looks right */
}


